<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">

	<!-- Base Module Properties -->
	<id>${project.parent.artifactId}</id>
	<name>${project.parent.name}</name>
	<version>${project.parent.version}</version>
	<package>org.openmrs.module.patientqueueing</package>
	<author>METS</author>
	<description>
			${project.parent.description}
		</description>

	<activator>org.openmrs.module.patientqueueing.PatientQueueingActivator</activator>

	<!-- <updateURL>https://modules.openmrs.org/modules/download/@MODULE_ID@/update.rdf</updateURL> -->
	<!-- /Base Module Properties -->

	<require_version>${openmrsPlatformVersion}</require_version>

	<require_modules>
		<require_module version="${webservices.restModuleVersion}">
			org.openmrs.module.webservices.rest
		</require_module>
	</require_modules>
	<!-- Extensions -->

	<aware_of_modules>
		<aware_of_module>org.openmrs.module.legacyui</aware_of_module>
	</aware_of_modules>

	<globalProperty>
		<property>patientqueueing.defaultDateFormat</property>
		<defaultValue>dd/MM/yyyy</defaultValue>
		<description>The date format without time</description>
	</globalProperty>

	<globalProperty>
		<property>patientqueueing.displayDateTimeFormat</property>
		<defaultValue>dd/MM/yyyy HH:mm:ss</defaultValue>
		<description>Date format for patientqueueing display and date pickers</description>
	</globalProperty>


	<globalProperty>
		<property>patientqueueing.clinicianLocationUUIDS</property>
		<defaultValue>b1a8b05e-3542-4037-bbd3-998ee9c40574,2131aff8-2e2a-480a-b7ab-4ac53250262b,58c57d25-8d39-41ab-8422-108a0c277d98</defaultValue>
		<description>A comma separated list of location uuids for locations that clinicians operate from</description>
	</globalProperty>

	<globalProperty>
		<property>patientqueueing.selfCheckInPersonAttributeTypeUuids</property>
		<defaultValue>14d4f066-15f5-102d-96e4-000c29c2a5d7</defaultValue>
		<description>Person attribute type UUID for phone number lookup during self check-in (default: Telephone Number)</description>
	</globalProperty>

	<globalProperty>
		<property>patientqueueing.selfCheckInIdentifierTypeUuids</property>
		<defaultValue>e1731641-30ab-102d-86b0-7a5022ba4115,f0c16a6d-dc5f-4118-a803-616d0075d282</defaultValue>
		<description>Comma-separated list of patient identifier type UUIDs to search during self check-in (default: Patient ID, National ID)</description>
	</globalProperty>

	<globalProperty>
		<property>patientqueueing.selfCheckInVisitTypeUuid</property>
		<defaultValue></defaultValue>
		<description>Visit type UUID to use when creating visits for patient self check-in (e.g., OPD visit type UUID). Leave empty to skip visit creation.</description>
	</globalProperty>


	<globalProperty>
			<property>patientqueueing.kioskLocationTagUuid</property>
			<defaultValue></defaultValue>
			<description>Location tag UUID for kiosk check-ins. Only locations with this tag will be available for kiosk check-in. Load is balanced across all locations with this tag.</description>
		</globalProperty>

	<globalProperty>
			<property>patientqueueing.receptionLocationTagUuid</property>
			<defaultValue></defaultValue>
			<description>Location tag UUID for reception check-ins. Only locations with this tag will be available for reception check-in. Load is balanced across all locations with this tag.</description>
		</globalProperty>

	<globalProperty>
		<property>patientqueueing.estimatedWaitMinutesPerPerson</property>
		<defaultValue>5</defaultValue>
		<description>Estimated minutes of wait time per person ahead in queue. Used to calculate estimated wait time for self check-in.</description>
	</globalProperty>

	<!-- Internationalization -->
	<!-- All message codes should start with @MODULE_ID@.* -->

	<privilege>
		<name>App: patientqueueing.providerDashboard</name>
		<description>Able to access Provider Dashboard</description>
	</privilege>

	<privilege>
		<name>Task: patientqueueing.completePatientQueue</name>
		<description>Able to complete a patient queue</description>
	</privilege>

	<privilege>
		<name>Task: patientqueueing.sendPatientToQueue</name>
		<description>Ability to send Patient To Queue</description>
	</privilege>

	<privilege>
		<name>Task: patientqueueing.checkIn</name>
		<description>Ability to perform patient check-in</description>
	</privilege>

	<privilege>
		<name>Task: patientqueueing.manageQueue</name>
		<description>Ability to manage queue entries (pick, complete, skip, call)</description>
	</privilege>

	<privilege>
		<name>Task: patientqueueing.viewQueue</name>
		<description>Ability to view queue status and entries</description>
	</privilege>

	<privilege>
		<name>App: patientqueueing.selfCheckIn</name>
		<description>Ability to access self check-in kiosk</description>
	</privilege>

	<privilege>
		<name>App: patientqueueing.queueDisplay</name>
		<description>Ability to access queue display/kiosk view</description>
	</privilege>

	<messages>
		<lang>en</lang>
		<file>messages.properties</file>
	</messages>
	<messages>
		<lang>fr</lang>
		<file>messages_fr.properties</file>
	</messages>
	<messages>
		<lang>es</lang>
		<file>messages_es.properties</file>
	</messages>
	<!-- /Internationalization -->
</module>
